@charset "utf-8";
/* CSS Document */
body, html {
	height:100%;
	width: 100%;
} 

* {
	margin: 0px;
	padding: 0px;
}


#body2{
	position:absolute;
	width:100%;
	height:100%;
	background:#FFF;
	background-size: 100% 100%;


	animation-timing-function:linear;
	animation-delay:0s;
	animation-name:  flags;
	animation-duration:20s;
	animation-iteration-count:infinite;
	animation-play-state:running;	
	
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-name:  flags;
	-webkit-animation-duration:20s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	
}
#mainPage {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	background-repeat:no-repeat;
	
	
}



@-webkit-keyframes flags /* Safari and Chrome */ {
 0% {
background-image:url(Asset/cyprusfinal1.gif) ;
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;
}
20% {
background-image:url(Asset/polandfinal.gif);
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;

}
40% {
background-image: url(Asset/romaniafinal.gif);
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;
}
60% {
background-image:url(Asset/finlandfinal.gif);
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;
}
80% {
background-image:url(Asset/italy.jpg);
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;
}
100% {
background-image:url(Asset/spain.jpg);
background-repeat:no-repeat;
width: 100%;
height: 100%;
opacity: 0.7;
}
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 55px;
	font-weight: bold;
	color: #FFF;
	text-shadow: #CCC, 8px, 8px, 8px;
}
header, nav, section, article, hroup, aside, footer {
	display: block;
}

/*ul li {
	font-variant: small-caps;
	list-style-type: none;
	display: inline;
	float:right;
	padding-right:150PX;
}*/

 
#mainImage{
	text-align:center;
	vertical-align:central;
	padding: 0;
	margin: 0;
	
}
#list_menu{
	position:relative;
	bottom: 375px;
	left: 140px;
}
#list_menu ul {
	list-style-type: none;	
}

#list_menu ul  li a{
	font-variant: small-caps;
	text-decoration: none;
	color: #000;
	line-height: 40px;
	font-size:25px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-radius:20px;
	transition: all .1s
	-webkit-transition: all .1s
	
}
#list_menu ul  li a:hover{
	background:rgba(0,153,0,.6);
	font-weight:bold;
	color:#FFF;
}
#list_menu ul  li{
	display:list-item;
	text-align: center;
	vertical-align: middle;
}
#cloud{
	position:relative;
	top: 5px;
	left: -15px;	
}

#list_menu2{
	position: relative;	
	left: 70px;
	top: -220px;
	visibility:visible;
}

#logo {
	position: relative;	
	left: 45px;
	top: -125px;
}



#sound{
	position:absolute;
	bottom: 10px;
}
.muteImg{
	width:42px;
	height:42px;
}

#dialog_exit{
	position:absolute;
	left: 35%;
	top: 35%;	
	background-color:rgba(153,153,153,.7);
	border-radius: 10px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:35px;
	width:450px;
	height: 250px;
	visibility:hidden;
}
#dialog_exit h2{
	text-align:center;
	color:#FFF;	
	
}

#yes{
	position: relative;	
	left: 50px;
	top: 20px;
}

#no{
	position: relative;	
	left: 260px;
	top: -115px;
}
#dialog_exit a{
	transition: transform .5s;	
	-webkit-transition: -webkit-transform .5s;	
	cursor: pointer;
}
#yes :hover{
	transform: translateY(10px);
	-webkit-transform: translateY(10px);
	
}
#no :hover{
	transform: translateY(10px);
	-webkit-transform: translateY(10px);
	
}
