@charset "utf-8";
/* CSS Document */

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 55px;
	font-weight: bold;
	color: #FFF;
	text-shadow: #CCC, 8px, 8px, 8px;
	
}
* {
	margin: 0px;
	padding: 0px;
}
header, nav, section, article, hroup, aside, footer {
	display: block;
}
